@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --base-bg-color: #141516;
    --contrast-color: #E39908;
    --base-font-family: Inter;
    --base-font-weight: 700;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--contrast-color);
    width: 5px;
    border-radius: 10px;
}

::selection {
    background-color: rgba(227, 153, 8, .3);
}

body, html {
    margin: 0;
    background-color: var(--base-bg-color);
    font-family: var(--base-font-family);
    font-weight: var(--base-font-weight);
    transition: 0.2s ease !important;
    list-style: none;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
    box-sizing: border-box;
}

.rect-divider {
    width: 213px;
    transform: translateX(-139px);
    position: absolute;
    margin-top: -100px;
}

.wwus {
    margin-top: -650px
}

.rect-divider-right {
    position: absolute;
    right: -60px;
    width: 153px;
    margin-top: -60px;
    transform: scaleX(-1);
}

.rect-top {
    margin-top: -5px;
}

.rect-bottom {
    margin-bottom: -25px;
    margin-left: 5px;
    transform: scaleY(-1);
}

.wrap {
    flex-wrap: wrap;
}

.box-hightech {
    width: 306px;
    margin-inline: 10px;
}

.shadow_yel {
    padding: 40px;
    border-radius: 100px;
    border: 2px solid var(--contrast-color);
    box-shadow: 0 0 100px 30px var(--contrast-color);
    position: relative;
    top: -185px;
    margin-bottom: -75px;
    z-index: 1;
}

.partner-logo {
    width: 250px;
    margin-inline: 10px;
}

.home-page {
    overflow-y: hidden;
}