.col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 32px;
        letter-spacing: -1%;
        text-transform: uppercase;
        margin: 0;
        color: var(--contrast-color)
    }
}

.line-center {
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;

    span {
        margin-inline: 15px;

        img {
            width: 306px;
            height: 306px;
            object-fit: cover;
        }

        h3 {
            font-size: 28px;
        }
    }
}