.main-home {
    width: 100%;
    span {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 700px;
    }

    h1 {
        font-size: 56px;
        width: 1120px;
        letter-spacing: 1px;
        max-width: 95%;
        color: white;
        text-align: center;
        z-index: 2;
    }

    .rectangle-first {
        position: absolute;
        width: 322px;
        max-width: 50%;
        left: -81px;
        top: 0;
    }

    .rectangle-second {
        position: absolute;
        width: 322px;
        right: 0;
        transform: rotate(180deg) scaleY(-1);
        max-width: 50%;
        overflow: hidden;
        top: 180px;
    }

    .bread-first {
        position: absolute;
        top: 34px;
        left: -10px;
        width: 501px;
        max-width: 50%;
    }

    .bread-second {
        position: absolute;
        width: 550px;
        right: -160px;
        top: 190px;
        transform: rotate(255deg);
        overflow: hidden !important;
    }

    .bread-third {
        position: absolute;
        width: 192px;
        left: 430px;
        top: 440px;
        z-index: 1;
        overflow: hidden;
    }

    .bread-fourth {
        position: absolute;
        z-index: 1;
        width: 200px;
        top: 100px;
        right: 300px;
    }
}